<%@ Master Language="VB" CodeFile="masterReport.master.vb" Inherits="masterReport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" />
    <title>Untitled Page</title>
</head>
<body style =" margin:0pt; text-align:center">
    <form id="form1" runat="server"> 
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td style="width: 1003px">
                    <br />
                  <div align="center" style="width:800px; background-color:white ">
                       <table >
                           
                            <tr>
                                <td style="width: 800px; ">
                        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
                         
                        </asp:contentplaceholder>
                           
                                </td>
                            </tr>
                      </table>
                  </div>
                 </td>
            </tr>
        </table>           
               
      
        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />
        &nbsp;
    </form>
</body>
</html>
