<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildBundlerMinifier" version="3.2.449" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4001" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4001" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net45" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net45" />
  <package id="EPPlus" version="7.0.7" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
</packages>